.vscode/*
.env
node_modules/
node_modules


.vscode/
api-todo/
todo.md
src/db/supabase/table
package-lock.json

기록지/

test.json
test.txt
test.ts
test/

supabase/.temp
supabase/config.toml
supabase/functions/.env


supabase/functions/deno.lock


.DS_Store
**/.DS_Store